*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  width: 400px;
  margin: 60px auto;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button{
  background-color: #02008a;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.75);
  cursor: pointer;

}


.person{
  display: flex;
  align-items: center;
  gap: 8px;
}

h1{
  font-weight: 300;
}
.image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.75);
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name{
  font-weight: bold;
}

.age{
  font-weight: 400;
  color: rgba(128, 128, 128, 0.9);
}

